<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="WindowsAppcenterSecret" value="__WindowsAppcenterSecret__" />
    <add key="AndroidAppcenterSecret" value="__AndroidAppcenterSecret__" />
    <add key="IosAppcenterSecret" value="__IosAppcenterSecret__" />
  </appSettings>
</configuration>