<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net452" />
  <package id="Cheesebaron.MvxPlugins.Settings" version="1.2.7" targetFramework="net452" />
  <package id="Moq" version="4.5.10" targetFramework="net452" />
  <package id="MvvmCross.Core" version="4.2.0" targetFramework="net452" />
  <package id="MvvmCross.Platform" version="4.2.0" targetFramework="net452" />
  <package id="MvvmCross.Plugin.Email" version="4.2.0" targetFramework="net452" />
  <package id="MvvmCross.Plugin.Messenger" version="4.2.0" targetFramework="net452" />
  <package id="MvvmCross.Plugin.WebBrowser" version="4.2.0" targetFramework="net452" />
  <package id="MvvmCross.Tests" version="4.2.0" targetFramework="net452" />
  <package id="Npadrutt.MvxPlugins.AppInformation" version="1.0.6" targetFramework="net452" />
  <package id="Npadrutt.MvxPlugins.StoreOperations" version="1.0.2" targetFramework="net452" />
</packages>