<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'MoneyManager.WindowsPhone' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>36b82f03-2ef5-4dfb-a65b-367e7551a30a</InstrumentationKey>
</ApplicationInsights>