<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="Microsoft.NETNative.Analyzer" version="1.0.0" targetFramework="net45" />
  <package id="Moq" version="4.2.1507.0118" targetFramework="net45" />
  <package id="MvvmCross.HotTuna.Binding" version="4.0.0-beta3" targetFramework="net45" />
  <package id="MvvmCross.HotTuna.CrossCore" version="4.0.0-beta3" targetFramework="net45" />
  <package id="MvvmCross.HotTuna.MvvmCrossLibraries" version="4.0.0-beta3" targetFramework="net45" />
  <package id="MvvmCross.HotTuna.Tests" version="4.0.0-beta3" targetFramework="net45" />
  <package id="SQLite.Net-PCL" version="3.0.5" targetFramework="net45" />
  <package id="xunit" version="2.1.0" targetFramework="net45" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net45" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net45" />
  <package id="xunit.core" version="2.1.0" targetFramework="net45" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net45" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net45" />
  <package id="xunit.runner.visualstudio" version="2.1.0" targetFramework="net45" />
</packages>