<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.NETNative.Analyzer" version="1.0.0" targetFramework="net45" />
  <package id="Moq" version="4.2.1510.2205" targetFramework="net45" />
  <package id="MvvmCross.Binding" version="4.0.0-beta8" targetFramework="net45" />
  <package id="MvvmCross.Core" version="4.0.0-beta8" targetFramework="net45" />
  <package id="MvvmCross.Platform" version="4.0.0-beta8" targetFramework="net45" />
  <package id="MvvmCross.Plugin.Email" version="4.0.0-beta8" targetFramework="net45" />
  <package id="MvvmCross.Plugin.Messenger" version="4.0.0-beta8" targetFramework="net45" />
  <package id="MvvmCross.Plugin.SQLitePCL" version="4.0.0-beta8" targetFramework="net45" />
  <package id="MvvmCross.Plugin.WebBrowser" version="4.0.0-beta8" targetFramework="net45" />
  <package id="MvvmCross.Tests" version="4.0.0-beta8" targetFramework="net45" />
  <package id="NUnit" version="3.0.1" targetFramework="net45" />
  <package id="NUnit.Console" version="3.0.1" targetFramework="net45" />
  <package id="NUnit.Runners" version="3.0.1" targetFramework="net45" />
  <package id="Shouldly" version="2.6.0" targetFramework="net45" />
  <package id="SQLite.Net.Async-PCL" version="3.1.1" targetFramework="net45" />
  <package id="SQLite.Net.Core-PCL" version="3.1.1" targetFramework="net45" />
  <package id="SQLite.Net-PCL" version="3.1.1" targetFramework="net45" />
  <package id="xunit" version="2.1.0" targetFramework="net45" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net45" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net45" />
  <package id="xunit.core" version="2.1.0" targetFramework="net45" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net45" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net45" />
  <package id="xunit.runner.visualstudio" version="2.1.0" targetFramework="net45" />
  <package id="Xunit.Should.Extension" version="1.0.4" targetFramework="net45" />
</packages>