<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.0.0.5" package="com.applysolutions.ch.moneyfox" android:versionCode="5">
	<uses-sdk android:minSdkVersion="16" />
	<application android:label="Money Fox" android:icon="@drawable/Icon" />
</manifest>