# Xamarin.Android
# Build a Xamarin.Android project.
# Add steps that test, sign, and distribute an app, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/xamarin

trigger:
  branches:
    include:
    - master

pr: none

pool:
  vmImage: 'windows-latest'

variables:
  BuildConfiguration: 'Release'
  Major: '7'
  Minor: '5'

name: $(date:yyyy)$(DayOfYear)$(rev:rrr)
steps:

- task: NuGetToolInstaller@1
  displayName: 'Use NuGet '
  inputs:
    versionSpec: 5.x

- task: NuGetCommand@2
  displayName: 'NuGet restore'
  inputs:
    restoreSolution: Src/MoneyFox.Android/MoneyFox.Android.csproj

- task: android-manifest-version@1
  inputs:
    sourcePath: 'Src/MoneyFox.Android/Properties/AndroidManifest.xml'
    versionCodeOption: 'buildid'
    versionCode: '$(Build.BuildNumber)'
    versionCodeOffset: '0'
    versionName: '$(Major).$(Minor).$(Build.BuildId)'
    printFile: true

- task: DotNetCoreCLI@2
  displayName: 'Run Tests'
  inputs:
    command: 'test'
    projects: '**/*.Tests.csproj'
    arguments: '--configuration $(BuildConfiguration)'

- task: colinsalmcorner.colinsalmcorner-buildtasks.replace-tokens-task.ReplaceTokens@1
  displayName: 'Replace tokens in Src/MoneyFox/'
  inputs:
    sourcePath: Src/MoneyFox
    filePattern: App.config

- task: DownloadSecureFile@1
  displayName: 'Download secure file'
  name: KeyStore
  inputs:
    secureFile: MoneyFoxKeyStore.keystore

- task: MSBuild@1
  displayName: 'Build Android Project'
  inputs:
    solution: Src/MoneyFox.Android/MoneyFox.Android.csproj
    msbuildArchitecture: x64
    msbuildArguments: '-restore -t:SignAndroidPackage -p:Configuration=$(BuildConfiguration) -p:AndroidKeyStore=True -p:AndroidSigningKeyStore=$(KeyStore.secureFilePath) -p:AndroidSigningStorePass=$(KeyStorePass) -p:AndroidSigningKeyAlias=$(KeyStoreAlias) -p:AndroidSigningKeyPass=$(KeyStorePass)'

- task: CopyFiles@2
  displayName: 'Copy Files to: $(build.artifactstagingdirectory)'
  inputs:
    SourceFolder: '$(System.DefaultWorkingDirectory)'
    Contents: '**/*.aab'
    TargetFolder: '$(build.artifactstagingdirectory)'
    flattenFolders: true

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: drop'
  inputs:
    PathtoPublish: '$(build.artifactstagingdirectory)'
