# Universal Windows Platform
# Build a Universal Windows Platform project using Visual Studio.
# Add steps that test and distribute an app, save build artifacts, and more:
# https://aka.ms/yaml

trigger:
  branches:
    include:
    - master

pr: none

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'x86|x64|ARM'
  buildConfiguration: 'Release'
  appxPackageDir: '$(build.artifactStagingDirectory)\AppxPackages\\'
  Major: '7'
  Minor: '5'

jobs:
- job: BuildWindows
  displayName: 'Build Windows Release'
  timeoutInMinutes: 200

  steps:

  - task: DownloadSecureFile@1
    displayName: 'Download secure file'
    name: 'signingCert'
    inputs:
      secureFile: 'MoneyFoxCert_2020.pfx'

  - powershell: |
      $pfxpath = '$(signingCert.secureFilePath)'
      $certPassword = $env:CERT_PASSWORD_ENV

      Add-Type -AssemblyName System.Security
      $cert = New-Object System.Security.Cryptography.X509Certificates.X509Certificate2
      $cert.Import($pfxpath, $certPassword, [System.Security.Cryptography.X509Certificates.X509KeyStorageFlags]"PersistKeySet")
      $store = new-object system.security.cryptography.X509Certificates.X509Store -argumentlist "MY", CurrentUser
      $store.Open([System.Security.Cryptography.X509Certificates.OpenFlags]"ReadWrite")
      $store.Add($cert)
      $store.Close()
    displayName: 'Install Cert'
    env:
      CERT_PASSWORD_ENV: $(UWP_Certificate_Password)

  - task: PowerShell@2
    displayName: "Set AppManifest"
    inputs:
      targetType: 'inline'
      script: |
        [xml]$xmlDoc = Get-Content $(Build.SourcesDirectory)\src\MoneyFox.Uwp\Package.appxmanifest
        $xmlDoc.Package.Identity.Name="57598ApplySolutionsSoftwa.MoneyFox"
        $xmlDoc.Package.Identity.Publisher="CN=071307B1-B0E3-434A-AD0E-FFF714A7245C"
        $xmlDoc.Package.PhoneIdentity.PhoneProductId="b6543cc9-1d68-47d7-95a3-ea5016facd43"
        $xmlDoc.Package.Properties.DisplayName="Money Fox"
        $xmlDoc.Package.Applications.Application.VisualElements.DisplayName="Money Fox"
        $xmlDoc.Save('$(Build.SourcesDirectory)\src\MoneyFox.Uwp\Package.appxmanifest')
      failOnStderr: true

  - task: PowerShell@2
    displayName: "Set Store Association"
    inputs:
      targetType: 'inline'
      script: |
        [xml]$xmlDoc = Get-Content $(Build.SourcesDirectory)\src\MoneyFox.Uwp\Package.StoreAssociation.xml
        $xmlDoc.StoreAssociation.Publisher="CN=071307B1-B0E3-434A-AD0E-FFF714A7245C"
        $xmlDoc.StoreAssociation.ProductReservedInfo.MainPackageIdentityName="57598ApplySolutionsSoftwa.MoneyFox"
        $xmlDoc.Save('$(Build.SourcesDirectory)\src\MoneyFox.Uwp\Package.StoreAssociation.xml')
      failOnStderr: true

  - task: colinsalmcorner.colinsalmcorner-buildtasks.replace-tokens-task.ReplaceTokens@1
    displayName: 'Replace tokens in MoneyFox'
    inputs:
      sourcePath: Src/MoneyFox.Uwp
      filePattern: App.config

  - task: VersionAPPX@2
    inputs:
      Path: '$(Build.SourcesDirectory)'
      VersionNumber: '$(Major).$(Minor).$(Build.BuildId)'
      InjectVersion: false
      VersionRegex: '\d+.\d+.\d+'
      OutputVersion: 'OutputedVersion'

  - task: NuGetToolInstaller@1
    displayName: 'Use NuGet'
    inputs:
      versionSpec: 5.x

  - task: NuGetCommand@2
    displayName: 'NuGet restore'
    inputs:
      restoreSolution: '**/MoneyFox.Desktop.sln'

  - task: SonarSource.sonarcloud.14d9cde6-c1da-4d55-aa01-2965cd301255.SonarCloudPrepare@1
    displayName: 'Prepare analysis on SonarCloud'
    inputs:
      SonarCloud: 'MoneyFox SonarCloud'
      organization: 'moneyfox-1'
      scannerMode: 'MSBuild'
      projectKey: 'MoneyFox_MoneyFox'
      projectVersion: '$(Major).$(Minor).$(Build.BuildNumber)'
      extraProperties: |
        # Additional properties that will be passed to the scanner,
        # Put one key=value per line, example:
        # sonar.exclusions=**/*.bin
        sonar.cs.opencover.reportsPaths=**/*.opencover.xml

  - task: DotNetCoreCLI@2
    displayName: 'Run Tests'
    inputs:
      command: test
      projects: '**/*.Tests.csproj'
      arguments: '--configuration $(BuildConfiguration) --collect:"XPlat Code Coverage" -- DataCollectionRunSettings.DataCollectors.DataCollector.Configuration.Format=opencover'

  - task: CopyFiles@2
    displayName: 'Copy coveragexml to staging'
    inputs:
      SourceFolder: '$(Agent.TempDirectory)'
      Contents: '**\*.opencover.xml'
      TargetFolder: '$(Build.ArtifactStagingDirectory)'

  - task: VSBuild@1
    displayName: 'Build Windows Project'
    inputs:
      solution: '**/MoneyFox.Uwp.csproj'
      msbuildArgs: '
        /p:AppxBundlePlatforms="$(buildPlatform)" 
        /p:AppxPackageDir="$(appxPackageDir)" 
        /p:AppxBundle=Always 
        /p:UapAppxPackageBuildMode=CI
        /p:AppxPackageSigningEnabled=true
        /p:PackageCertificateThumbprint=""
        /p:PackageCertificateKeyFile="$(signingCert.secureFilePath)"
        /p:PackageCertificatePassword="$(UWP_Certificate_Password)"'
      platform: x64
      configuration: '$(BuildConfiguration)'

  - task: PublishBuildArtifacts@1
    displayName: 'Publish Artifact: drop'

  - task: SonarSource.sonarcloud.ce096e50-6155-4de8-8800-4221aaeed4a1.SonarCloudAnalyze@1
    displayName: 'Run Code Analysis'

  - task: SonarSource.sonarcloud.38b27399-a642-40af-bb7d-9971f69712e8.SonarCloudPublish@1
    displayName: 'Publish Quality Gate Result'