trigger:
  batch: true
  branches:
    include:
      - master

pr: none

pool:
  vmImage: 'windows-2022'

variables:
  BuildConfiguration: 'Release'
  Major: '7'
  Minor: '8'

name: $(date:yyyy)$(DayOfYear)$(rev:rrr)
steps: 

  - task: UseDotNet@2.207.2
    displayName: 'Use correct .Net sdk'
    inputs:
      version: 7.x
      includePreviewVersions: true
       
  - task: UseDotNet@2.207.2
    displayName: 'Use correct .Net sdk'
    inputs:
      version: 6.x

  - task: PowerShell@2.210.0
    displayName: "Set App Version"
    enabled: false
    inputs:
      targetType: 'inline'
      script: |
        $Version = $(Build.BuildNumber)
        $DisplayVersion = "$(Major).$(Minor).$(Build.BuildId)"
        Write-Host "DisplayVersion:" $DisplayVersion
        Write-Host "Version:" $Version
        [xml]$xml = Get-Content -Path ./src/MoneyFox.Ui/MoneyFox.Ui.csproj
        $xml.Project.PropertyGroup[3].ApplicationDisplayVersion = $DisplayVersion
        $xml.Project.PropertyGroup[3].ApplicationVersion = $Version
        Set-Content "./src/MoneyFox.Ui/MoneyFox.Ui.csproj" -Value $xml.InnerXml -Force
        Write-Host $xml.InnerXml
      pwsh: true

  - task: android-manifest-version@1
    displayName: "Set App Version"
    inputs:
      sourcePath: 'Src/MoneyFox.Ui/Platforms/Android/AndroidManifest.xml'
      versionCodeOption: 'buildid'
      versionCode: '$(Build.BuildNumber)'
      versionCodeOffset: '0'
      versionName: '$(Major).$(Minor).$(Build.BuildId)'
      printFile: true

  - task: DownloadSecureFile@1.200.0
    name: keystore
    inputs:
      secureFile: 'Money Fox.keystore'

  - task: JavaToolInstaller@0.211.0
    displayName: 'Install Java 11'
    inputs:
      versionSpec: '11'
      jdkArchitectureOption: 'x64'
      jdkSourceOption: 'PreInstalled'

  - task: PowerShell@2.210.0
    displayName: 'Install maui workload'
    inputs:
      targetType: 'inline'
      script: 'dotnet workload install maui --ignore-failed-sources'

  - task: DotNetCoreCLI@2.210.0
    displayName: 'build Android app'
    inputs:
      command: 'publish'
      publishWebProjects: false
      projects: '**/MoneyFox.Ui.csproj'
      arguments: '-c Release -f net7.0-android /p:AndroidKeyStore="True" /p:AndroidSigningKeyAlias="$(KeyStoreAlias)" /p:AndroidSigningKeyStore="$(keystore.secureFilePath)" /p:AndroidSigningKeyPass="$(KeyStorePass)" /p:AndroidSigningStorePass="$(KeyStorePass)"'

  - task: DotNetCoreCLI@2.210.0
    displayName: 'Run Tests'
    inputs:
      command: 'test'
      projects: '**/*.Tests.csproj'
      arguments: '--configuration $(BuildConfiguration)'
      
  - task: CopyFiles@2.211.0
    displayName: 'Copy Files to: $(build.artifactstagingdirectory)'
    inputs:
      SourceFolder: '$(System.DefaultWorkingDirectory)'
      Contents: '**/*-Signed.aab'
      TargetFolder: '$(build.artifactstagingdirectory)'
      flattenFolders: true

  - task: PublishBuildArtifacts@1.211.0
    displayName: 'Publish Artifact: drop'
    inputs:
      PathtoPublish: '$(build.artifactstagingdirectory)'
