<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AndHUD" version="1.2.0" targetFramework="monoandroid80" />
  <package id="Autofac" version="4.6.1" targetFramework="monoandroid80" />
  <package id="Autofac.Extras.MvvmCross" version="4.0.2" targetFramework="monoandroid80" />
  <package id="Cheesebaron.MvxPlugins.Settings" version="3.1.0" targetFramework="monoandroid80" />
  <package id="EntityFramework.DbContextScope" version="1.0.0" targetFramework="monoandroid71" />
  <package id="FAB.XamarinAndroid" version="1.6.4.0" targetFramework="monoandroid80" />
  <package id="Microsoft.Azure.Mobile" version="0.16.0" targetFramework="monoandroid80" />
  <package id="Microsoft.Azure.Mobile.Analytics" version="0.16.0" targetFramework="monoandroid80" />
  <package id="Microsoft.Azure.Mobile.Crashes" version="0.16.0" targetFramework="monoandroid80" />
  <package id="Microsoft.CSharp" version="4.3.0" targetFramework="monoandroid80" />
  <package id="Microsoft.Data.Sqlite" version="1.1.0" targetFramework="monoandroid80" />
  <package id="Microsoft.EntityFrameworkCore" version="1.1.3" targetFramework="monoandroid80" />
  <package id="Microsoft.EntityFrameworkCore.Relational" version="1.1.3" targetFramework="monoandroid80" />
  <package id="Microsoft.EntityFrameworkCore.Sqlite" version="1.1.3" targetFramework="monoandroid80" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="1.1.1" targetFramework="monoandroid80" />
  <package id="Microsoft.Extensions.Caching.Memory" version="1.1.1" targetFramework="monoandroid80" />
  <package id="Microsoft.Extensions.DependencyInjection" version="1.1.0" targetFramework="monoandroid80" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.1.0" targetFramework="monoandroid80" />
  <package id="Microsoft.Extensions.Logging" version="1.1.1" targetFramework="monoandroid80" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="1.1.1" targetFramework="monoandroid80" />
  <package id="Microsoft.Extensions.Options" version="1.1.1" targetFramework="monoandroid80" />
  <package id="Microsoft.Extensions.Primitives" version="1.1.0" targetFramework="monoandroid80" />
  <package id="Microsoft.Graph.Core" version="1.4.0" targetFramework="monoandroid80" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="monoandroid80" />
  <package id="Microsoft.OneDriveSDK" version="2.0.7" targetFramework="monoandroid80" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="monoandroid80" />
  <package id="MPAndroidChart" version="3.0.2" targetFramework="monoandroid80" />
  <package id="MvvmCross.Binding" version="5.3.0" targetFramework="monoandroid80" />
  <package id="MvvmCross.Core" version="5.3.0" targetFramework="monoandroid80" />
  <package id="MvvmCross.Droid.Support.Core.UI" version="5.3.0" targetFramework="monoandroid80" />
  <package id="MvvmCross.Droid.Support.Core.Utils" version="5.3.0" targetFramework="monoandroid80" />
  <package id="MvvmCross.Droid.Support.Design" version="5.3.0" targetFramework="monoandroid80" />
  <package id="MvvmCross.Droid.Support.Fragment" version="5.3.0" targetFramework="monoandroid80" />
  <package id="MvvmCross.Droid.Support.V7.AppCompat" version="5.3.0" targetFramework="monoandroid80" />
  <package id="MvvmCross.Droid.Support.V7.Preference" version="5.3.0" targetFramework="monoandroid80" />
  <package id="MvvmCross.Droid.Support.V7.RecyclerView" version="5.3.0" targetFramework="monoandroid71" />
  <package id="MvvmCross.Platform" version="5.3.0" targetFramework="monoandroid80" />
  <package id="MvvmCross.Plugin.Color" version="5.3.0" targetFramework="monoandroid80" />
  <package id="MvvmCross.Plugin.Email" version="5.3.0" targetFramework="monoandroid80" />
  <package id="MvvmCross.Plugin.File" version="5.3.0" targetFramework="monoandroid80" />
  <package id="MvvmCross.Plugin.Json" version="5.3.0" targetFramework="monoandroid80" />
  <package id="MvvmCross.Plugin.Messenger" version="5.3.0" targetFramework="monoandroid80" />
  <package id="MvvmCross.Plugin.ResxLocalization" version="5.3.0" targetFramework="monoandroid80" />
  <package id="MvvmCross.Plugin.Visibility" version="5.3.0" targetFramework="monoandroid80" />
  <package id="MvvmCross.Plugin.WebBrowser" version="5.3.0" targetFramework="monoandroid80" />
  <package id="NETStandard.Library" version="1.6.1" targetFramework="monoandroid80" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="monoandroid80" />
  <package id="PCLCrypto" version="2.0.147" targetFramework="monoandroid80" />
  <package id="PInvoke.BCrypt" version="0.3.2" targetFramework="monoandroid80" />
  <package id="PInvoke.Kernel32" version="0.3.2" targetFramework="monoandroid80" />
  <package id="PInvoke.NCrypt" version="0.3.2" targetFramework="monoandroid80" />
  <package id="PInvoke.Windows.Core" version="0.3.2" targetFramework="monoandroid80" />
  <package id="Remotion.Linq" version="2.1.1" targetFramework="monoandroid80" />
  <package id="SQLite" version="3.13.0" targetFramework="monoandroid80" />
  <package id="System.AppContext" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Collections" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Collections.Immutable" version="1.3.0" targetFramework="monoandroid80" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.ComponentModel.Annotations" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Console" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.3.1" targetFramework="monoandroid80" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Globalization" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Globalization.Calendars" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Interactive.Async" version="3.0.0" targetFramework="monoandroid80" />
  <package id="System.IO" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Linq" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Linq.Queryable" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Net.Http" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Net.Primitives" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Reflection" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Runtime" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Runtime.Handles" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Runtime.Serialization.Formatters" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Threading" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Xml.ReaderWriter" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="monoandroid80" />
  <package id="Validation" version="2.2.8" targetFramework="monoandroid80" />
  <package id="Xam.Plugin.Connectivity" version="3.0.3" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Annotations" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Compat" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Core.UI" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Core.Utils" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.CustomTabs" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Design" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Fragment" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Media.Compat" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Transition" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.v4" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.v7.CardView" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.v7.Preference" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Auth" version="1.5.0.3" targetFramework="monoandroid80" />
</packages>