<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cirrious.MvvmCross.Droid.Support.Fragging" version="4.0.0-beta3" targetFramework="monoandroid51" />
  <package id="Microsoft.NETNative.Analyzer" version="1.0.0" targetFramework="monoandroid51" />
  <package id="MvvmCross.HotTuna.Binding" version="4.0.0-beta3" targetFramework="monoandroid51" />
  <package id="MvvmCross.HotTuna.CrossCore" version="4.0.0-beta3" targetFramework="monoandroid51" />
  <package id="MvvmCross.HotTuna.MvvmCrossLibraries" version="4.0.0-beta3" targetFramework="monoandroid51" />
  <package id="MvvmCross.HotTuna.Plugin.Email" version="4.0.0-beta3" targetFramework="monoandroid51" />
  <package id="MvvmCross.HotTuna.Plugin.SQLitePCL" version="4.0.0-beta4" targetFramework="monoandroid51" />
  <package id="MvvmCross.HotTuna.Plugin.Visibility" version="4.0.0-beta3" targetFramework="monoandroid51" />
  <package id="MvvmCross.HotTuna.Plugin.WebBrowser" version="4.0.0-beta3" targetFramework="monoandroid51" />
  <package id="OxyPlot.Core" version="2015.1.999-alpha" targetFramework="monoandroid51" />
  <package id="OxyPlot.Xamarin.Android" version="2015.1.999-alpha" targetFramework="monoandroid51" />
  <package id="SQLite.Net.Async-PCL" version="3.0.5" targetFramework="monoandroid51" />
  <package id="SQLite.Net-PCL" version="3.0.5" targetFramework="monoandroid51" />
  <package id="Xamarin.Android.Support.v4" version="23.0.1.0-rc2" targetFramework="monoandroid51" />
  <package id="Xamarin.Insights" version="1.11.1" targetFramework="monoandroid51" />
</packages>