<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MsaClientId" value="000000004416B470" />
    <add key="MsaClientSecret" value="YoWyKydsjQTLEEjklZO049M38BBi8X5k" />
    
    <add key="WindowsAppcenterSecret" value="1fba816a-eea6-42a8-bf46-0c0fcc1589db" />
    <add key="AndroidAppcenterSecret" value="6d9840ff-d832-4c1b-a2ee-bac7f15d89bd" />
    <add key="IosAppcenterSecret" value="3893339f-4e2d-40a9-b415-46ce59c23a8f" />
  </appSettings>
</configuration>