# https://www.jetbrains.com/help/resharper/EditorConfig_Index.html
###############################
# Core EditorConfig Options   #
###############################
#root = true

# All files

[*]
# Indentation and spacing
indent_size = 4
indent_style = space
tab_width = 4

# Code files
[*.{cs,csx}]
charset = utf-8
max_line_length = 160
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = crlf

###############################
# Formatting rules            #
###############################
# https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/formatting-rules

#Code-block Preferences
csharp_style_namespace_declarations = file_scoped:suggestion
csharp_style_prefer_method_group_conversion = true:suggestion
csharp_style_prefer_top_level_statements = true:suggestion

# Namespace options
dotnet_style_namespace_match_folder = true

# Using directives
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false
csharp_using_directive_placement = inside_namespace

# Indentation options
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_indent_labels = flush_left
csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_indent_case_contents_when_block = true

# Spacing options
csharp_space_after_cast = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_between_parentheses = false
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_around_binary_operators = before_and_after
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_declaration_name_and_open_parenthesis = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_after_comma = true
csharp_space_before_comma = false
csharp_space_after_dot = false
csharp_space_before_dot = false
csharp_space_after_semicolon_in_for_statement = true
csharp_space_before_semicolon_in_for_statement = false
csharp_space_around_declaration_statements = false
csharp_space_before_open_square_brackets = false
csharp_space_between_empty_square_brackets = false
csharp_space_between_square_brackets = false

# Wrap options
csharp_preserve_single_line_statements = false
csharp_preserve_single_line_blocks = true

# New line preferences
csharp_new_line_before_catch = true
csharp_new_line_before_else = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_open_brace = all
csharp_new_line_between_query_expression_clauses = true
csharp_style_allow_blank_lines_between_consecutive_braces_experimental = false:suggestion
csharp_style_allow_embedded_statements_on_same_line_experimental = true

###############################
# Language Rules              #
###############################

# this and Me preferences
# https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/ide0003-ide0009
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_event = false:suggestion

# Use language keywords instead of framework type names for type references
# https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/ide0049
dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion

# Modifier preferences
# https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/modifier-preferences
csharp_preferred_modifier_order = public, private, protected, internal, static, extern, new, virtual, abstract, sealed, override, readonly, unsafe, volatile, async:warning
dotnet_style_require_accessibility_modifiers = for_non_interface_members:warning
dotnet_style_readonly_field = true:warning
csharp_style_prefer_readonly_struct = true:warning
csharp_prefer_static_local_function = true:error

# Parentheses preferences
# https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/ide0047-ide0048
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary:suggestion
dotnet_style_parentheses_in_relational_binary_operators = never_if_unnecessary:suggestion
dotnet_style_parentheses_in_other_binary_operators = never_if_unnecessary:suggestion
dotnet_style_parentheses_in_other_operators = never_if_unnecessary:suggestion

# Expression-level preferences
# https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/expression-level-preferences
dotnet_style_object_initializer = true:warning
dotnet_style_collection_initializer = true:warning
dotnet_style_prefer_auto_properties = true:warning
dotnet_style_explicit_tuple_names = true:error
dotnet_style_prefer_inferred_tuple_names = true
dotnet_style_prefer_conditional_expression_over_assignment = true:warning
dotnet_style_prefer_conditional_expression_over_return = true:warning
dotnet_style_prefer_compound_assignment = true:warning
dotnet_style_prefer_simplified_interpolation = true
dotnet_style_prefer_simplified_boolean_expressions = true:suggestion
dotnet_style_prefer_inferred_anonymous_type_member_names = false:suggestion
csharp_style_inlined_variable_declaration = true:warning
csharp_style_pattern_local_over_anonymous_function = true:suggestion
csharp_style_deconstructed_variable_declaration = true:suggestion
csharp_style_prefer_index_operator = true
csharp_style_prefer_range_operator = true
csharp_style_implicit_object_creation_when_type_is_apparent = true:warning
csharp_prefer_simple_default_expression = true:warning
csharp_style_prefer_null_check_over_type_check = true
csharp_style_prefer_range_operator = true
csharp_style_prefer_tuple_swap = true
csharp_style_prefer_utf8_string_literals = true
csharp_style_throw_expression = true
csharp_style_unused_value_assignment_preference = discard_variable
csharp_style_unused_value_expression_statement_preference = discard_variable

# Null-checking preferences
# https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/null-checking-preferences
dotnet_style_coalesce_expression = true:warning
dotnet_style_null_propagation = true:warning
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:suggestion
csharp_style_throw_expression = true:warning
csharp_style_conditional_delegate_call = true:warning # Expression-bodied-members
# https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/expression-bodied-members
csharp_style_expression_bodied_constructors = false:suggestion
csharp_style_expression_bodied_methods = false:suggestion
csharp_style_expression_bodied_operators = when_on_single_line:suggestion
csharp_style_expression_bodied_properties = when_on_single_line:suggestion
csharp_style_expression_bodied_indexers = when_on_single_line:suggestion
csharp_style_expression_bodied_accessors = when_on_single_line:suggestion
csharp_style_expression_bodied_lambdas = when_on_single_line:suggestion
csharp_style_expression_bodied_local_functions = when_on_single_line:suggestion


# Pattern matching preferences
# https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/pattern-matching-preferences
csharp_style_pattern_matching_over_as_with_null_check = true
csharp_style_pattern_matching_over_is_with_cast_check = true
csharp_style_prefer_switch_expression = true
csharp_style_prefer_pattern_matching = true
csharp_style_prefer_not_pattern = true
csharp_style_prefer_extended_property_pattern = true

# Code block preferences
# https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/code-block-preferences
csharp_prefer_braces = true:suggestion
csharp_prefer_simple_using_statement = true:suggestion

#################################
# C# - Blank Lines              #
#################################
# https://www.jetbrains.com/help/resharper/EditorConfig_CSHARP_BlankLinesPageScheme.html

# General
resharper_csharp_blank_lines_around_region = 1
resharper_csharp_blank_lines_inside_region = 1
resharper_csharp_blank_lines_before_single_line_comment = 1

# Blank lines in declarations
resharper_csharp_keep_blank_lines_in_declarations = 1
resharper_csharp_remove_blank_lines_near_braces_in_declarations = true
resharper_csharp_blank_lines_after_start_comment = 0
resharper_csharp_blank_lines_between_using_groups = 0
resharper_csharp_blank_lines_after_using_list = 1
resharper_csharp_blank_lines_around_namespace = 1
resharper_csharp_blank_lines_inside_namespace = 1
resharper_csharp_blank_lines_after_file_scoped_namespace_directive = 1
resharper_csharp_blank_lines_around_type = 1
resharper_csharp_blank_lines_around_single_line_type = 0 # Verify
resharper_csharp_blank_lines_inside_type = 0
resharper_csharp_blank_lines_around_field = 1
resharper_csharp_blank_lines_around_single_line_field = 0
resharper_csharp_blank_lines_around_property = 1
resharper_csharp_blank_lines_around_single_line_property = 0
resharper_csharp_blank_lines_around_auto_property = 1
resharper_csharp_blank_lines_around_single_line_auto_property = 0
resharper_csharp_blank_lines_around_accessor = 1
resharper_csharp_blank_lines_around_single_line_accessor = 0
resharper_csharp_blank_lines_around_invocable = 1
resharper_csharp_blank_lines_around_single_line_invocable = 1

# Blank lines in code
resharper_csharp_keep_blank_lines_in_code = 0
resharper_csharp_remove_blank_lines_near_braces_in_code = true
resharper_csharp_blank_lines_around_local_method = 1
resharper_csharp_blank_lines_around_single_line_local_method = 0
resharper_csharp_blank_lines_before_control_transfer_statements = 1 # Recheck
resharper_csharp_blank_lines_after_control_transfer_statements = 1
resharper_csharp_blank_lines_before_block_statements = 0 # Recheck
resharper_csharp_blank_lines_after_block_statements = 1
resharper_csharp_blank_lines_before_multiline_statements = 0 # Recheck
resharper_csharp_blank_lines_after_multiline_statements = 1 # Recheck
resharper_csharp_blank_lines_around_block_case_section = 0
resharper_csharp_blank_lines_around_multiline_case_section = 0
resharper_csharp_blank_lines_before_case = 0
resharper_csharp_blank_lines_after_case = 0

#################################
# C# - Braces Layout            #
#################################
# https://www.jetbrains.com/help/resharper/EditorConfig_CSHARP_BracesPageSchema.html

# Braces layout
resharper_csharp_brace_style = next_line
resharper_csharp_indent_inside_namespace = true
resharper_csharp_invocable_declaration_braces = next_line
resharper_csharp_anonymous_method_declaration_braces = next_line
resharper_csharp_accessor_owner_declaration_braces = next_line
resharper_csharp_accessor_declaration_braces = next_line
resharper_csharp_case_block_braces = next_line
resharper_csharp_initializer_braces = next_line # Recheck
resharper_csharp_use_continuous_indent_inside_initializer_braces = true # Recheck
resharper_csharp_other_braces = next_line
resharper_csharp_allow_comment_after_lbrace = false # Recheck
resharper_csharp_empty_block_style = together_same_line # Recheck

#################################
# C# - CodeStyle                #
#################################
# https://www.jetbrains.com/help/resharper/EditorConfig_CSHARP_CSharpCodeStylePageImplSchema.html

# 'var' usage in declarations
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = true:suggestion
resharper_csharp_for_built_in_types = use_var
resharper_csharp_for_simple_types = use_var
resharper_csharp_for_other_types = use_var
resharper_csharp_prefer_separate_deconstructed_variables_declaration = false
resharper_csharp_prefer_explicit_discard_declaration = false

# Instance members qualification
# Some already configured. See '# this and Me preferences'

# Modifiers
resharper_csharp_default_private_modifier = explicit
resharper_csharp_default_internal_modifier = explicit

# Arguments
resharper_csharp_arguments_skip_single = true
resharper_csharp_arguments_literal = named
resharper_csharp_arguments_string_literal = named
resharper_csharp_arguments_named = named
resharper_csharp_arguments_anonymous_function = named
resharper_csharp_arguments_other = named

# Object creation
resharper_csharp_object_creation_when_type_evident = target_typed
resharper_csharp_object_creation_when_type_not_evident = target_typed
resharper_csharp_default_value_when_type_evident = default_literal
resharper_csharp_default_value_when_type_not_evident = default_literal

#################################
# C# - Tabs, Indents, Alignment #
#################################
# https://www.jetbrains.com/help/resharper/EditorConfig_CSHARP_CSharpIndentStylePageSchema.html

# General
resharper_csharp_continuous_indent_multiplier = 1

# Nested statements
resharper_csharp_indent_nested_usings_stmt = true
resharper_csharp_indent_nested_fixed_stmt = true
resharper_csharp_indent_nested_lock_stmt = true
resharper_csharp_indent_nested_for_stmt = true
resharper_csharp_indent_nested_foreach_stmt = true
resharper_csharp_indent_nested_while_stmt = true

#################################
# C# - Line Breaks              #
#################################
# https://www.jetbrains.com/help/resharper/EditorConfig_CSHARP_LineBreaksPageSchema.html
resharper_keep_existing_arrangement = false

# General
resharper_csharp_keep_user_linebreaks = false
resharper_csharp_wrap_before_comma = false
resharper_csharp_wrap_before_eq = true
resharper_csharp_special_else_if_treatment = true

# Arrangement of attributes
resharper_csharp_max_attribute_length_for_same_line = 160
resharper_csharp_place_type_attribute_on_same_line = never
resharper_csharp_place_method_attribute_on_same_line = never
resharper_csharp_place_accessorholder_attribute_on_same_line = never
resharper_csharp_place_accessor_attribute_on_same_line = never
resharper_csharp_place_field_attribute_on_same_line = never

# Arrangement of method signatures
resharper_csharp_wrap_parameters_style = chop_if_long
resharper_csharp_max_formal_parameters_on_line = 4
resharper_csharp_keep_existing_declaration_parens_arrangement = false
resharper_csharp_wrap_before_declaration_lpar = false
resharper_csharp_wrap_after_declaration_lpar = true
resharper_csharp_wrap_before_declaration_rpar = false
resharper_csharp_place_constructor_initializer_on_same_line = true

# Arrangement of expression bodied members
resharper_csharp_keep_existing_expr_member_arrangement = false
resharper_csharp_place_expr_method_on_single_line = if_owner_is_single_line
resharper_csharp_place_expr_property_on_single_line = if_owner_is_single_line
resharper_csharp_place_expr_accessor_on_single_line = if_owner_is_single_line
resharper_csharp_wrap_before_arrow_with_expressions = true

# Arrangement of type parameters, constraints and base types
resharper_csharp_place_type_constraints_on_same_line = true
resharper_csharp_wrap_before_first_type_parameter_constraint = true
resharper_csharp_wrap_multiple_type_parameter_constraints_style = chop_if_long
resharper_csharp_wrap_before_type_parameter_langle = false
resharper_csharp_wrap_before_extends_colon = true
resharper_csharp_wrap_extends_list_style = chop_if_long

# Arrangement of declaration blocks
resharper_csharp_keep_existing_declaration_block_arrangement = false
resharper_csharp_place_abstract_accessorholder_on_single_line = true
resharper_csharp_place_simple_accessorholder_on_single_line = false
resharper_csharp_place_accessor_with_attrs_holder_on_single_line = false
resharper_csharp_place_simple_accessor_on_single_line = true
resharper_csharp_place_simple_method_on_single_line = false

# Arrangement of enumerations
resharper_csharp_keep_existing_enum_arrangement = false
resharper_csharp_max_enum_members_on_line = 3
resharper_csharp_place_simple_enum_on_single_line = true
resharper_csharp_wrap_enum_declaration = chop_if_long

# Arrangement of statements
resharper_csharp_new_line_before_while = true
resharper_csharp_wrap_for_stmt_header_style = chop_if_long
resharper_csharp_wrap_multiple_declaration_style = chop_if_long

# Arrangement of embedded statements
resharper_csharp_keep_existing_embedded_arrangement = false
resharper_csharp_place_simple_embedded_statement_on_same_line = if_owner_is_single_line
resharper_csharp_place_simple_case_statement_on_same_line = never

# Arrangement of embedded blocks
resharper_csharp_keep_existing_embedded_block_arrangement = false
resharper_csharp_place_simple_embedded_block_on_same_line = false
resharper_csharp_place_simple_anonymousmethod_on_single_line = true

# Arrangement of switch expressions
resharper_csharp_keep_existing_switch_expression_arrangement = false
resharper_csharp_place_simple_switch_expression_on_single_line = false
resharper_csharp_wrap_switch_expression = chop_always

# Arrangement of property patterns
resharper_csharp_keep_existing_property_patterns_arrangement = false
resharper_csharp_place_simple_property_pattern_on_single_line = true
resharper_csharp_wrap_property_pattern = chop_if_long

# Arrangement of initializers
resharper_csharp_keep_existing_initializer_arrangement = false
resharper_csharp_place_simple_initializer_on_single_line = true
resharper_csharp_max_initializer_elements_on_line = 3
resharper_csharp_wrap_object_and_collection_initializer_style = chop_if_long
resharper_csharp_max_array_initializer_elements_on_line = 3
resharper_csharp_wrap_array_initializer_style = chop_if_long

# Arrangement of invocations
resharper_csharp_wrap_arguments_style = chop_if_long
resharper_csharp_max_invocation_arguments_on_line = 4
resharper_csharp_keep_existing_invocation_parens_arrangement = false
resharper_csharp_wrap_before_invocation_lpar = false
resharper_csharp_wrap_after_invocation_lpar = true
resharper_csharp_wrap_before_invocation_rpar = false

# Arrangement of member access expressions
resharper_csharp_wrap_after_dot_in_method_calls = false
resharper_csharp_wrap_chained_method_calls = chop_if_long

# Arrangement of binary expressions
resharper_csharp_wrap_before_binary_opsign = true
resharper_csharp_wrap_chained_binary_expressions = chop_if_long
resharper_csharp_wrap_before_binary_pattern_op = true
resharper_csharp_wrap_chained_binary_patterns = chop_if_long
resharper_csharp_force_chop_compound_if_expression = false
resharper_csharp_force_chop_compound_while_expression = false
resharper_csharp_force_chop_compound_do_expression = false

# Arrangement of ternary expressions
resharper_csharp_wrap_before_ternary_opsigns = true
resharper_csharp_wrap_ternary_expr_style = chop_if_long
resharper_csharp_nested_ternary_style = compact # (simple_wrap | autodetect | compact | expanded)

# Arrangement of LINQ expressions
resharper_csharp_wrap_linq_expressions = chop_always
resharper_csharp_wrap_before_linq_expression = false
resharper_csharp_place_linq_into_on_new_line = false

# Arrangement of interpolated strings
resharper_csharp_wrap_verbatim_interpolated_strings = no_wrap # (wrap_if_long | chop_if_long | no_wrap)

#################################
# C# - Spaces                   #
#################################
# https://www.jetbrains.com/help/resharper/EditorConfig_CSHARP_SpacesPageSchema.html

# Preserve existing formatting
resharper_csharp_extra_spaces = remove_all

# Around braces
resharper_csharp_space_within_single_line_array_initializer_braces = true

# Attributes
resharper_csharp_space_after_attributes = true

# Other
resharper_csharp_space_around_lambda_arrow = true

#################################
# Naming rules                  #
#################################
# https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/naming-rules

# Defining the 'camel_case_style' naming style
dotnet_naming_style.camel_case_style.capitalization = camel_case

# Defining the 'pascal_case_style' naming style
dotnet_naming_style.pascal_case_style.capitalization = pascal_case

# Defining the 'all_upper_case_style' naming style
dotnet_naming_style.all_upper_case_style.capitalization = all_upper

# Define the 'private_static_readonly_fields' symbol group
dotnet_naming_symbols.private_static_readonly_fields.applicable_kinds = field
dotnet_naming_symbols.private_static_readonly_fields.applicable_accessibilities = private
dotnet_naming_symbols.private_static_readonly_fields.required_modifiers = static, readonly

# Define the 'private_static_readonly_fields_must_be_camel_case' naming rule
dotnet_naming_rule.private_static_readonly_fields_must_be_camel_case.symbols = private_static_readonly_fields
dotnet_naming_rule.private_static_readonly_fields_must_be_camel_case.style = camel_case_style
dotnet_naming_rule.private_static_readonly_fields_must_be_camel_case.severity = warning

# Define the 'public_static_fields' symbol group
dotnet_naming_symbols.public_static_fields.applicable_kinds = field
dotnet_naming_symbols.public_static_fields.applicable_accessibilities = public
dotnet_naming_symbols.public_static_fields.required_modifiers = static

# Define the 'public_static_fields_must_be_pascal_case' naming rule
dotnet_naming_rule.public_static_fields_must_be_pascal_case.symbols = public_static_fields
dotnet_naming_rule.public_static_fields_must_be_pascal_case.style = pascal_case_style
dotnet_naming_rule.public_static_fields_must_be_pascal_case.severity = warning

# Define the 'const_fields' symbol group
dotnet_naming_symbols.const_fields.applicable_kinds = field
dotnet_naming_symbols.const_fields.applicable_accessibilities = public, internal, private
dotnet_naming_symbols.const_fields.required_modifiers = const

# Define the 'public_static_fields_must_be_pascal_case' naming rule
dotnet_naming_rule.const_fields_must_be_all_upper.symbols = const_fields
dotnet_naming_rule.const_fields_must_be_all_upper.style = all_upper_case_style
dotnet_naming_rule.const_fields_must_be_all_upper.severity = warning

########################
# SonarAnalyzer.CSharp #
########################
dotnet_diagnostic.S3925.severity = suggestion
dotnet_diagnostic.S2094.severity = suggestion
dotnet_diagnostic.S6608.severity = suggestion