<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cheesebaron.MvxPlugins.Connectivity" version="0.0.4" targetFramework="portable45-net45+win8" />
  <package id="Cheesebaron.MvxPlugins.Settings" version="1.2.7" targetFramework="portable45-net45+win8" />
  <package id="Fody" version="1.29.4" targetFramework="portable45-net45+win8" developmentDependency="true" />
  <package id="HockeySDK.Xamarin" version="4.1.0-beta3" targetFramework="portable45-net45+win8" />
  <package id="Microsoft.NETNative.Analyzer" version="1.0.0" targetFramework="portable45-net45+win8" />
  <package id="Microsoft.OneDriveSDK" version="1.1.47" targetFramework="portable45-net45+win8" />
  <package id="MvvmCross.Binding" version="4.2.0" targetFramework="portable45-net45+win8" />
  <package id="MvvmCross.Core" version="4.2.0" targetFramework="portable45-net45+win8" />
  <package id="MvvmCross.Platform" version="4.2.0" targetFramework="portable45-net45+win8" />
  <package id="MvvmCross.Plugin.Email" version="4.2.0" targetFramework="portable45-net45+win8" />
  <package id="MvvmCross.Plugin.File" version="4.2.0" targetFramework="portable45-net45+win8" />
  <package id="MvvmCross.Plugin.Messenger" version="4.2.0" targetFramework="portable45-net45+win8" />
  <package id="MvvmCross.Plugin.SQLitePCL" version="4.2.0" targetFramework="portable45-net45+win8" />
  <package id="MvvmCross.Plugin.Visibility" version="4.2.0" targetFramework="portable45-net45+win8" />
  <package id="MvvmCross.Plugin.WebBrowser" version="4.2.0" targetFramework="portable45-net45+win8" />
  <package id="MvvmCross.PortableSupport" version="3.5.1" targetFramework="portable45-net45+win8" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="portable45-net45+win8" />
  <package id="Npadrutt.MvxPlugins.AppInformation" version="1.0.6" targetFramework="portable45-net45+win8" />
  <package id="Npadrutt.MvxPlugins.StoreOperations" version="1.0.2" targetFramework="portable45-net45+win8" />
  <package id="OxyPlot.Core" version="2015.1.999-alpha" targetFramework="portable45-net45+win8" />
  <package id="PropertyChanged.Fody" version="1.51.3" targetFramework="portable45-net45+win8" developmentDependency="true" />
  <package id="SQLite.Net.Async-PCL" version="3.1.1" targetFramework="portable45-net45+win8" />
  <package id="SQLite.Net.Core-PCL" version="3.1.1" targetFramework="portable45-net45+win8" />
  <package id="SQLite.Net-PCL" version="3.1.1" targetFramework="portable45-net45+win8" />
</packages>