<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="portable45-net45+win8" />
  <package id="Fody" version="1.29.4" targetFramework="portable45-net45+win8" developmentDependency="true" />
  <package id="Microsoft.NETNative.Analyzer" version="1.0.0" targetFramework="portable45-net45+win8" />
  <package id="Microsoft.OneDriveSDK" version="1.1.20" targetFramework="portable45-net45+win8" />
  <package id="MvvmLightLibs" version="5.2.0.0" targetFramework="portable45-net45+win8" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="portable45-net45+win8" />
  <package id="OxyPlot.Core" version="2015.1.999-alpha" targetFramework="portable45-net45+win8" />
  <package id="PropertyChanged.Fody" version="1.50.4" targetFramework="portable45-net45+win8"
           developmentDependency="true" />
  <package id="Xamarin.Insights" version="1.11.4" targetFramework="portable45-net45+win8" />
</packages>