<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="Fody" version="1.29.3" targetFramework="portable45-net45+win8" developmentDependency="true" />
  <package id="Microsoft.NETNative.Analyzer" version="1.0.0" targetFramework="portable45-net45+win8" />
  <package id="MvvmCross.HotTuna.Binding" version="4.0.0-beta3" targetFramework="portable45-net45+win8" />
  <package id="MvvmCross.HotTuna.CrossCore" version="4.0.0-beta3" targetFramework="portable45-net45+win8" />
  <package id="MvvmCross.HotTuna.MvvmCrossLibraries" version="4.0.0-beta3" targetFramework="portable45-net45+win8" />
  <package id="MvvmCross.HotTuna.Plugin.SQLitePCL" version="4.0.0-beta4" targetFramework="monoandroid51" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="OxyPlot.Core" version="2015.1.999-alpha" targetFramework="portable45-net45+win8" />
  <package id="PropertyChanged.Fody" version="1.50.3" targetFramework="portable46-win81+wpa81"
           developmentDependency="true" />
  <package id="SQLite.Net-PCL" version="3.0.5" targetFramework="portable-win81+wpa81" requireReinstallation="true" />
  <package id="SQLiteNetExtensions" version="1.3.0" targetFramework="portable-win81+wpa81" />
  <package id="Xamarin.Insights" version="1.11.1" targetFramework="portable45-net45+win8" />
</packages>